<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RhymeBinder</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />*@
    <link rel="stylesheet" href="~/css/main.css" />
</head>
<body>
    <header>
        <nav class="navbar">
           
                
                                
                    <ul class="navbar-links">
                        <li class="navbar-item-brand">
                            <a asp-area="" asp-controller="RhymeBinder" asp-action="Index">RhymeBinder</a>
                        </li>
                        <li class="navbar-item">
                            <a asp-area="" asp-controller="RhymeBinder" asp-action="StartNewText">NEW</a>
                        </li>
                        <li class="navbar-item">
                            <a asp-area="" asp-controller="RhymeBinder" asp-action="ListBinders">BINDERS</a>
                        </li>
                        <li class="navbar-item">
                            <a asp-area="" asp-controller="RhymeBinder" asp-action="Manage">MANAGE</a>
                        </li>
                        <li class="navbar-item">
                            <a asp-area="" asp-controller="RhymeBinder" asp-action="Settings">SETTINGS</a>
                        </li>
                        <partial name="_LoginPartial" />
                    </ul>

            
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - RhymeBinder - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
