<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RhymeBinder</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />*@
    <link rel="stylesheet" href="~/css/main.css" />
</head>
<body>
    <header>
        <nav class="navbar">
           
                    <div class="navbar-item-brand">RhymeBinder</div>
                    <ul class="navbar-links">

                        <li class="navbar-item">
                            <a asp-area="" asp-controller="RhymeBinder" asp-action="ListBinders">BINDERS</a>
                        </li>
                        <li class="navbar-item">
                            <a asp-area="" asp-controller="RhymeBinder" asp-action="Manage">MANAGE</a>
                        </li>
                        <li class="navbar-item">
                            <a asp-area="" asp-controller="RhymeBinder" asp-action="EditUser">SETTINGS</a>
                        </li>
                        <li class="navbar-item">
                            <a asp-area="" asp-controller="RhymeBinder" asp-action="About">ABOUT</a>
                        </li>
                        <partial name="_LoginPartial" />
                    </ul>

            
        </nav>
    </header>
    <div class="site-container">
        <main role="main" class="main">
            @RenderBody()
        </main>
    </div>

    <footer class="site-footer">
        <div class="container">
            &copy; 2021-2023 - RhymeBinder - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
