@model RhymeBinder.Models.ViewModels.MenuBar

<div class="menu-bar">
    <div class="menu-bar-main mobile-menu-bar-main">
        <div class="menu-bar-title menu-bar-title-mobile">
            @Model.Title
        </div>
    </div>
</div>