
@{
    ViewData["Title"] = "About";
}
@model int
<div class="menu-bar-main">
    <div class="menu-bar-title">
        About:
    </div>
</div>

Release Notes:
<ul>
    <li>
        12/10/2023  1.6.135
        <ul>
            <li>Move NEW button to List Texts view</li>
            <li>Add ability to set binder level default behaviors for:</li>
            <ul>
                <li>Ruler display on new texts</li>
                <li>Default title for new texts</li>
            </ul>
            <li>Change behavior on clicking on text title so user has the ability to view, but must click edit to enable editing</li>
            <li>Fix bug where user ids instead of names displayed in Binder List</li>
            <li>Numerous misc bug fixes</li>
            <li>Add about page.</li>
        </ul>
    </li>
    
    <li>
        11/16/2023  1.5.125
        <ul>
            <li>Final bugfixes for golive on Azure</li>
        </ul>
    </li>
</ul>    

    
