
@{
    ViewData["Title"] = "Create Binder";
}

<div class="menu-bar-main">
    <div class="menu-bar-title">
        Create Binder:
    </div>
</div>

<h1>New Binder:</h1>
<form action="CreateBinder" method="post">
    Binder Name:
    <input type="text" name="Name" />
    Description:
    <input type="text" name="Desription" />

    <input type="submit" value="Continue" />
</form>