@{
    ViewData["Title"] = "Whoopsie";
}
@model String

<div class="menu-bar-main">
    <div class="menu-bar-title">
        Error page:
    </div>
</div>

<p>
    Something went wrong round about here: 
    @Model
</p>