
@{
    ViewData["Title"] = "HideHeader";
}
@{
}
@model TextHeaderBodyUserRecord

<h2>Delete @Model.TextHeader.Title?</h2>

<p>This will hide this entry from your list. It can be always be restored at the scrap stack screen.</p>

<a href="/RhymeBinder/ListTexts?userID=@Model.User.UserId">Return to list</a>
<br />
<br />

<form action="HideHeader" method="post">
    <input type="hidden" name="TextHeader.TextHeaderId" value="@Model.TextHeader.TextHeaderId" />
    <input type="hidden" name="User.UserId" value="@Model.User.UserId" />
    <input type="submit" value="Delete @Model.TextHeader.Title" />
</form>
