
@{
    ViewData["Title"] = "Index";
}
@{
}


<h1>RhymeBinder Index Page</h1>

<h3>Links for what will be a menu at some point:</h3>
<ul>
    <li>Directory</li>
    <li>Editor</li>
    <li><a href="/RhymeBinder/StartNewTextGroup">Start new</a></li>

</ul>