
@{
    ViewData["Title"] = "Index";
}
@{
}
@model SimpleUser 

<h1>RhymeBinder Index Page</h1>

<h2>Hello, @Model.UserName!</h2>
<h3>Links for what will be a menu at some point:</h3>
<ul>
    <li>Directory</li>
    <li>Editor</li>
    <li><a href="/RhymeBinder/StartNewText">Start new</a></li>
    <li><a href="/RhymeBinder/ListTextsNUID">List Texts</a></li>
    <li><a href="/RhymeBinder/ScrapStack?userID=@Model.UserId">Scrap Stack</a></li>

</ul>