@{ 
    ViewData["Title"] = "ListTexts";
}

@{
}
@model List<TextHeader>

<h2>Compositions:</h2>

<table class="table table-responsive">
    <tr>
        <th>Title</th>
        <th>Last Modified</th>
        <th>Revision Status</th>
        <th></th>
        <th></th>
    </tr>

    @foreach(var text in Model)
    {
        <tr>
            <td>@text.Title</td>
            <td>@text.LastModified</td>
            <td>placeholder for revision status</td>
            <td><a href="/RhymeBinder/ReadText?textHeaderID=@text.TextHeaderId">Link to read it</a></td>
            <td><a href="/RhymeBinder/EditText?textHeaderID=@text.TextHeaderId">Link to edit it</a></td>
        </tr>
        
    }

</table>
