
@{
    ViewData["Title"] = "Manage Binder";
}
@model int
<div class="menu-bar-main">
    <div class="menu-bar-title">
        Manage Binder:
    </div>
</div>

    <p>To do: Build out list of menus </p>
<ul>
    <li><a href="/FileImport/Import?userID=@Model">Import files</a></li>
</ul>    

    
