
@{
    ViewData["Title"] = "Manage Binder: Groups";
}
@model DisplayBinderTextGroup
<div class="menu-bar-main">
    <div class="menu-bar-title">
        Manage @Model.Name: Groups:
    </div>
</div>

<table>
    <thead>
        <th>Name:</th>
        <th>Items:</th>
    </thead>
    

@foreach(var group in Model.GroupCount)
            {
            <tr>
                <td>@group.GroupTitle</td>
                <td>@group.Count</td>
            </tr>
            }
</table>

<p>Add a new group:</p>
<form action="ManageGroups" method="post">
    <input type="text" name="GroupTitle" />
    <input type="text" name="Notes" />
    <input type="hidden" name="GroupID" />
    <input type="hidden" name="OwnerID" />
    <input type="hidden" name="BinderID" value="@Model.BinderId"/>
    <input type="submit" name="action" class="button" value="Add" id="bttn_sub" />
</form>
