
@{
    ViewData["Title"] = "Manage Binder";
}

<div class="menu-bar-main">
    <div class="menu-bar-title">
        Manage Binder:
    </div>
</div>

    <p>To do: Build out list of menus </p>
<ul>
    <li>Import files</li>
</ul>    

    
