
@{
    ViewData["Title"] = "View Texts In Group Sequence";
}
@{
}
@model DisplaySequencedTexts


<div class="sequence-view-wrapper">
    
    <div class="menu-bar">


        <div class="menu-bar-main mobile-menu-bar-main">
            <div class="menu-bar-title menu-bar-title-mobile">
                Viewing: @Model.GroupName
            </div>
          </div>

        <div class="menu-bar-escape mobile-menu-bar-escape">
            <div class="menu-bar-item-right-final">
                <a class="button menu-bar-button mobile-menu-bar-button-edit" href="/RhymeBinder/EditTextsInSequence?groupId=@Model.GroupId">Edit</a>
            </div>
            <div class="menu-bar-item-right-final">
                <a class="button menu-bar-button mobile-menu-bar-button-return" href="/RhymeBinder/ListTextsOnSessionStart?binderId=@Model.BinderId">Return</a>
            </div>        

        </div>


    </div>


@* <div class="sequence-block"> *@
        <div class="sequence-block-body">
    @foreach(var text in Model.SimpleTexts)
    {

                <p>
                    <b>
                    @text.Title
                    </b>
                        <a href="/RhymeBinder/EditText?textHeaderID=@text.TextHeaderId" target="_blank">Edit</a>
                </p>


                <div class="sequence-text">

                        @text.TextBody
                </div>
                



        
    }

</div>
            </div>

<script language="Javascript" src="~/js/sequenceView.js"></script>
<script language="Javascript">
    window.onload = setTextareaHeights();
    window.onresize = setTextareaHeights();
</script>

