
@{
    ViewData["Title"] = "View Texts In Group Sequence";
}
@{
}
@model DisplaySequencedTexts


<div class="sequence-view-wrapper">
    
    <div class="menu-bar">


        <div class="menu-bar-main mobile-menu-bar-main">
            <div class="menu-bar-title menu-bar-title-mobile">
                Viewing: @Model.GroupName
            </div>
          </div>

        <div class="menu-bar-escape mobile-menu-bar-escape">
            <div class="menu-bar-item-right-final">
                <a class="button menu-bar-button mobile-menu-bar-button-return" href="/RhymeBinder/ListTextsOnSessionStart?binderId=@Model.BinderId">Return</a>
            </div>        

        </div>


    </div>


@* <div class="sequence-block"> *@
    @foreach(var text in Model.SimpleTexts)
    {
            <div class="sequence-block-left-sidebar">
               
                <p>
                    <b>
                    @text.Title
                    </b>
                        <a href="/RhymeBinder/EditText?textHeaderID=@text.TextHeaderId" target="_blank">Edit</a>
                </p>

            </div>

        <div class="sequence-block-item">

                <textarea class="sequence-text">

                        @text.TextBody
                </textarea>
                
            </div>

            <div class="sequence-block-right-sidebar">
              
                    Member of groups:
                    @foreach(var group in text.MemberOfGroups)
                    {
                        <p>@group</p>
                    }
            </div>

        

        
    }

</div>

<script language="Javascript" src="~/js/sequenceView.js"></script>
<script language="Javascript">
    window.onload = setTextareaHeights();
    window.onresize = setTextareaHeights();
</script>

