
@{
    ViewData["Title"] = "Create Binder";
}

@{
    RhymeBinder.Models.ViewModels.MenuBar menuBar = new()
            {
                Title = "Create Binder:"
            };
    Html.RenderPartial("_MenuBar", menuBar);
}
@Html.Partial("_Alert")

<h1>New Binder:</h1>
<form action="CreateBinder" method="post">
    Binder Name:
    <input type="text" name="Name" />
    Description:
    <input type="text" name="Desription" />



    <input type="submit" value="Continue" />
</form>