
@{
    ViewData["Title"] = "Manage Binder";
}
@model int
@Html.Partial("_Alert")
<div class="view-wrapper">

    <div class="menu-bar">
        <div class="menu-bar-main mobile-menu-bar-main">
            <div class="menu-bar-title menu-bar-title-mobile" >
                About RhymeBinder:
            </div>
        </div>
    </div>
        Manage Binder:

        <p>To do: Build out list of menus </p>
    <ul>
        <li><a href="/FileImport/Import?userID=@Model">Import files</a></li>
    </ul>    

</div> 
