@{
    ViewData["Title"] = "ScrapStack";
}

@{
}
@model List<RhymeBinder.Models.ViewModels.DisplayTextHeader>

<h2>Scrap Stack:</h2>
<p>Here you may restore what has been cast aside</p>
<table class="table table-responsive">
    <tr>
        <th><a href="/BinderCore/ChangeListDisplay?change=title">Title</a></th>
    </tr>

    @foreach (var text in Model)
    {
        <tr>
            <td><a href="/BinderCore/ReviewScrappedText?textHeaderID=@text.TextHeaderId">@text.Title</a></td>
            <td><a href="/BinderCore/RestoreText?textHeaderID=@text.TextHeaderId">Restore</a></td>

        </tr>

    }

</table>
